@font-face {
    font-family: 'Sohne';
    src: url('../fonts/Sohne-Buch.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/Sohne-LeichtKursiv.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/Sohne-BuchKursiv.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/TestSohne-Dreiviertelfett.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/TestSohne-DreiviertelfettKursiv.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/Sohne-Extrafett.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/Sohne-ExtrafettKursiv.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/Sohne-Extraleicht.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/Sohne-ExtraleichtKursiv.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/Sohne-Fett.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/Sohne-FettKursiv.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/Sohne-Halbfett.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/Sohne-HalbfettKursiv.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/Sohne-Kraftig.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/Sohne-KraftigKursiv.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/Sohne-Leicht.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
	width: 100vw;
	height: 100vh;
	background: #141414;
	font-family: "Sohne";
    color: rgb(255, 255, 255);
}

.intro-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.content {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 2;

}

nav {
	position: fixed;
	width: 100%;
	padding: 2.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3em;
}

.nav-item {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.nav-item a {
	position: relative;
	top: 20px;
	text-decoration: none;
	color: white;
	opacity: 0.5;
}

.nav-item a#active {
	opacity: 1;

}

.hero {
	position: absolute;
	width: 95%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	color: white;
}

.title {
	flex: 2;
	text-align: center;
	clip-path: polygon( 0 0, 100% 0, 100% 100%, 0% 100%);
}

.title h1 {
	position: relative;
	top: 80px;
	font-weight: 700;
}

.titleSP {
	color: #F6323F;
}

.wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	gap: 1em;

}

.wrapper .col {
	position: relative;
	flex: 1;
	width: 100%;
	flex-direction: column;
	display: flex;
	gap: 1em;
}

.col .item {
	position: relative;
	flex: 1;
	width: 100%;
	background: gray;
	overflow: hidden;
}

.c-1, .c-3, .c-5 {
	top: 100%;
}

.c-1 .item, .c-3 .item, .c-5 .item {
	top: 100%
}

.c-2 .item, .c-4 .item {
	top: -100%
}

@media(max-width: 900px) {
}

/* sp in 70 css */

.gallery {
    width: 70vw;
    margin: auto;
    position: relative;
    padding-top: 10rem;
    padding-left: 20vw;
}

.mini-gallery {
    width: 50vw;
    margin: auto;
    position: relative;
    padding-top: 10rem;
}

.timeline {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 40px;
}

.timeline p {
    padding-top: 0.3rem;
}

.timeline h1 {
    padding-right: 20px;
    z-index: 2;
    background-color: #141414;
}

.timeline h1::after {
    content: "";
    position: relative;
    width: 2px;
    background-color: rgb(166, 166, 166);
    height: calc(100% + 40px);
    left: 60%;
    display: block;
    /*
    A pseudo class such as :before has a default display CSS property value of inline.

Elements that are display: inline; and position: relative; are not "block-level" elements by default, and if they have no content, they do not take up any width. Thus, if you do not declare display: block; and you have an empty content declaration like content: "";, it will not take up any width at all in Scenario 1.

Elements that are position: absolute; are taken out of flow and are "block-level" elements with a default display CSS property value of block. Because of this, Scenario 2 renders the :before pseudo element, honoring its width and height declarations.

Scenario 3 is successful because the display property has been explicitly set to block, which honors the width and height declarations.

You can see these default values being set by inspecting the :before element in your browser's web developer tools - see the tools' "elements" inspector.
    */
}

@media(min-width: 900px) {
    /* .timeline p {
        padding-top: 3px;
    } */
}
/* .SPin70Nav {
    z-index: 3;
    background-image: linear-gradient(#141414 65%, rgba(0, 0, 0, 0));
    padding-bottom: 4.5rem;
} */


/* MINIMAP !!!! */

html, body{
    overscroll-behavior: none;
}

section{
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.container{
    width: 60%;
    max-width: 800px;
}

img{
    width: 100%;
}

h1{
    font-size: clamp(1px, 3.2vw, 28px);
}

p{
    font-size: clamp(1px, 2.2vw, 20px);
}


/* Minimap */

.minimap__container{
    position: absolute;
    top: 10px;
    left: 10px;
    min-width: 20px;
    z-index: 100;
    height: fit-content;

}

.minimap__size{
    position: relative;
    z-index: 5;
}

.minimap__viewer{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    z-index: 100;
    border: 1px solid #cacaca9a;
}

.minimap__content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform-origin: 0 0;
    border: 1px solid white;
    
}
