@font-face {
    font-family: 'Sohne';
    src: url('../fonts/Sohne-Buch.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/Sohne-LeichtKursiv.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/Sohne-BuchKursiv.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/TestSohne-Dreiviertelfett.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/TestSohne-DreiviertelfettKursiv.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/Sohne-Extrafett.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/Sohne-ExtrafettKursiv.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/Sohne-Extraleicht.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/Sohne-ExtraleichtKursiv.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/Sohne-Fett.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/Sohne-FettKursiv.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/Sohne-Halbfett.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/Sohne-HalbfettKursiv.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/Sohne-Kraftig.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/Sohne-KraftigKursiv.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Sohne';
    src: url('../fonts/Sohne-Leicht.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
	background: #141414;
	font-family: "Sohne";
    color: rgb(255, 255, 255);
    overflow-x: hidden;
}


.intro-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

Nav {
	position: fixed;
	width: 100%;
	padding: 2.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3em;
    z-index: 3;
}

.nav-item {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}


.nav-link {
    text-decoration: none;
	color: white;
	opacity: 0.6;
    top: 20px;
    position: relative;
    transition: opacity 0.5s;
}


.nav-link:hover {
	opacity: 1;        
}

.nav-link#active {
	opacity: 1;
    text-decoration: none;
	color: white;
    top: 20px;
    position: relative;
}

.landing {
	position: relative;
	width: 100%;
	color: white;
        height: 100%;
}

.content {
        z-index: 4;
}

.horizontal-container {
        display: flex;
        flex-wrap: nowrap;
        width: fit-content;
        background-color: #141414;
}

.panel {
    height: 100vh;
    background-color: #141414;
}

.panel Image {
    object-fit: cover;
}


.origin-panel {
    display: flex;
    align-items: center;
    height: 100vh;
}


.origin {
    display: grid;
    grid-template-columns: 50vw 30vw 5vw min(500px, 100vw) min(500px, 100vw) min(500px, 100vw);
    gap: 40px;
    padding-left: 10vh;
    align-items: center;
}

.hero {
    height: 100vh;
}

.img-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100%;
    width: 30vw;
}

.img-wrapper-1 {
    position: relative;
    flex: 1 0 0;
    aspect-ratio: 860 / 573;
}

.img-wrapper-2 {
    position: relative;
    flex: 1 0 0;
}

.img-wrapper-2 {
    position: relative;
    flex: 1 0 0;
}

.img-wrapper-3 {
    position: relative;
    flex: 1 0 0;
}


.description {
        font-size: clamp(16px, 2.5vw, 3vw);
        font-weight: 400;

}

.rotated {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    font-size: 3.8vw;
    color: transparent;
    -webkit-text-stroke: #ffffff 1px;
    font-weight: 800;
}

.section {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 40px;
}

.section h1 {
    font-size: clamp(22px, 2.5vw, 3vw);
}

.vertical-container {
        width: 100vw;
        height: 100vh;
        background-color: #141414;
        position: relative;
}

.title-wrapper {
	text-align: center;
	clip-path: polygon( 0 0, 100% 0, 100% 100%, 0% 100%);
        position: sticky;
        top: 48vh;
        width: 100%;    
}


.title {
	position: relative;
	top: 80px;
	font-weight: 700;
        
}

.titleSP {
	color: #F6323F;
}

/* Book Sequence */

#book-sequence {
        position: relative;
}


.book-section {
        margin-left: 40px;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: row;
}

.book-sequence {
        flex: 1 0 0;
}

.wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	gap: 1em;

}

.wrapper .col {
	position: relative;
	flex: 1;
	width: 100%;
	flex-direction: column;
	display: flex;
	gap: 1em;
}

.col .item {
	position: relative;
	flex: 1;
	width: 100%;
	background: gray;
	overflow: hidden;
}

.c-1, .c-3, .c-5 {
	top: 100%;
}

.c-1 .item, .c-3 .item, .c-5 .item {
	top: 100%
}

.c-2 .item, .c-4 .item {
	top: -100%
}

@media(max-width: 900px) {
}

/* sp in 70 css */



.gallery {
    width: 70vw;
    margin: auto;
    position: relative;
    padding-top: 10rem;
    padding-left: 20vw;
}

.mini-gallery {
    width: 50vw;
    margin: auto;
    position: relative;
    padding-top: 10rem;
}


/* timeline stuff */


.timeline {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 40px;
}

.timeline p {
    padding-top: 0.3rem;
}

.timeline h1 {
    padding-right: 20px;
    z-index: 2;
    position: relative;
    height: 100%;
}



.timeline-subtitle {
    padding-bottom: 20px;
    color: whitesmoke;
}

.line-wrapper {
    height: 100%;
    width: 100%;
}

.line {
    width: 2px;
    background-color: rgba(120, 120, 120, 1);
    height: 0%;
    display: block;
    margin-left: 50%;
}

    /*
    A pseudo class such as :before has a default display CSS property value of inline.

Elements that are display: inline; and position: relative; are not "block-level" elements by default, and if they have no content, they do not take up any width. Thus, if you do not declare display: block; and you have an empty content declaration like content: "";, it will not take up any width at all in Scenario 1.

Elements that are position: absolute; are taken out of flow and are "block-level" elements with a default display CSS property value of block. Because of this, Scenario 2 renders the :before pseudo element, honoring its width and height declarations.

Scenario 3 is successful because the display property has been explicitly set to block, which honors the width and height declarations.

You can see these default values being set by inspecting the :before element in your browser's web developer tools - see the tools' "elements" inspector.
    */


.timeline-text-wrapper {
    height: fit-content;
    width: fit-content;
    clip-path: polygon( 0 0, 100% 0, 100% 100%, 0% 100%);
}

.timeline-text {
    position: relative;
    top: 100px;
}

.timeline-heading {
    position: relative;
    bottom: 100px;
}


@media(min-width: 900px) {
    /* .timeline p {
        padding-top: 3px;
    } */
}
/* .SPin70Nav {
    z-index: 3;
    background-image: linear-gradient(#141414 65%, rgba(0, 0, 0, 0));
    padding-bottom: 4.5rem;
} */


.hover-image {
    height: fit-content;
    width: 120px;
    position: fixed;
    z-index: 2;
    scale: 0;
}

/* MINIMAP !!!! */


img{
    width: 100%;
}

p {
    font-size: clamp(14px, 1vw, 1.5vw);
}


/* TRANSITIONs */

.transition-element {
    width: 0vw;
    height: 500vh;
    background-color: #141414;
    z-index: 4;
    position: absolute;
    right: 0;
    top: 0;
}